<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
  <!--  <bean id="dateEX" class="java.util.Date">
   <property name="date" value="20"></property>
   <property name="month" value="12"></property>
   <property name="year" value="2021"></property>
   </bean> -->
   
   <bean id="user1" class="com.naresh.dto.UserDto" scope="singleton">
   <constructor-arg>
   <value type="java.lang.Integer">1</value>
   </constructor-arg>
   </bean>
   
   <bean id="user2" class="com.naresh.dto.UserDto">
   <property name="userName" value="Anil"></property>
   </bean>
   
   <bean id="user3" class="com.naresh.dto.UserDto">
   <property name="userName" value="Java"></property>
   </bean>
   
   <bean id="dateEX" class="java.time.LocalDate" factory-method="now"></bean>
   
   
   
   <bean id="a" class="com.naresh.A" scope="singleton" init-method="m1" destroy-method="m2">
   <property name="b" ref="classB"></property>
   <property name="name" value="Naresh"></property>
   <property name="num" value="2"></property>
   </bean>
   
   <bean id="classB" class="com.naresh.B" scope="singleton">
   <constructor-arg ref="a"></constructor-arg>
   </bean>
   
   <bean id="days" class="com.naresh.CollectionExample">
   <property name="dat" ref="dateEX"></property>
   <property name="collectionType" value="days"></property>
   <property name="collectionValues">
   <list>
   <value>Sunday</value>
   <value>Monday</value>
   <value>Tuesday</value>
   <value>Wednesday</value>
   <value>Thursday</value>
   <value>Friday</value>
   <value>Saturday</value>
   </list>
   </property>
   </bean>
   
   <bean id="months" class="com.naresh.CollectionExample">
   <property name="collectionType" value="months"></property>
   <property name="collectionValues">
   <list>
   <value>January</value>
   <value>February</value>
   <value>March</value>
   <value>April</value>
   <value>May</value>
   <value>June</value>
   <value>July</value>
   <value>August</value>
   <value>September</value>
   <value>October</value>
   <value>November</value>
   <value>December</value>
   </list>
   </property>
   <property name="props">
   <map key-type="java.lang.String" value-type="com.naresh.dto.UserDto">
   <entry key="user1" value-ref="user1"></entry>
   <entry key="user2" value-ref="user2"></entry>
   <entry key="user3" value-ref="user3"></entry>
   </map>
  </property>
   </bean>
   
   <bean id="ppc" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
   <property name="location" value="E:\Eclipse\Anil\spring-core1\src\main\resources\application.properties"/>
   </bean>
   
   <!-- <context:property-placeholder location="classpath:application.properties" /> -->
   
   <bean id="pre" class="com.naresh.PropertyReadExample">
   <property name="driverClassName" value="${db.driver}"></property>
   <property name="userName" value="${db.user}"></property>
   <property name="password" value="${db.pwd}"></property>
   <property name="dbUrl" value="${db.url}"></property>
   </bean>
   
   <!-- constructor injection example -->
   <bean id="ce" class="com.naresh.CollectionExample">
   <constructor-arg ref="user1"></constructor-arg>
   </bean>
   
   </beans>