<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Hello Naresh How Are You?</h1>
  <form action="/emp/save" method="post">

    <label for="emp_id">EMPID</label>
    <input type="text"  name="emp_id" placeholder="EmpId">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name">
    
   
    <input type="submit" value="Add User">    
</form> 
<!--  <a href="/getMessage">getMessage</a>  -->
</body>
</html>